body {
    /* background-image: url(/logo.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    background-attachment: scroll;
}

h1 {
    font-weight: 1000;
}

h1, p, table, tr, th, td, form, legend, label, ol, li {
    color: white;
}

p, table, tr, th, td, form, legend, label,  ol, li {
    font-weight: 600;
}

fieldset {
    border-radius: 0.7em;
}

strong {
    font-weight: 1000;
}


nav#navBar {
    background-color: #00DD00;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    background-attachment: scroll;
}

#aboutBut {
    margin-left: auto;
}

.navBut {
    padding: 1em;
    background-color: #00B400;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    border-style: solid;
    border-color: #008C00;
}

.navBut:hover {
    background-color: #008C00;
}

#pagesBut {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#whoAre {
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FFFFFF7F;  /* 50% opacity */
    width: 80%;
}