html {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    /* background-image: url(/logo.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-attachment: scroll;
    /* background-image: url('dog.jpg'); */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img#initDIMG {
    width: 50em;
}

h1 {
    font-weight: 1000;
}

p, table, tr, th, td, form, legend, label,  ol, li {
    font-weight: 600;
}

fieldset {
    border-radius: 0.7em;
}

strong {
    font-weight: 1000;
}



header {
    width: 100%;
    /* background-image: url('dog.jpg'); */
    position: sticky;
    top: 0;
}

nav#navbar, nav#navbar ul {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    background-attachment: scroll;
    list-style-type: none;
    /* background-image: url('dog.jpg'); */
}

#aboutBut {
    margin-left: auto;
}


.navBut {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border-style: solid;
    /* background-image: url('dog.jpg'); */
}

/* make theme button round */
button.navBut {
    border-radius: 2em;
    padding-left: 2em;
}

@media (min-width: 600px) {
    .navBut {
        padding: 1rem;
        font-size: 1.5rem;
        /* background-image: url('dog.jpg'); */
    }
}



#pagesBut {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-image: url('dog.jpg'); */
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#subBG {
    align-items: center;
    max-width: 54em;
}
@media (max-width: 600px) {
    #subBG {
        max-width: 100vw;
        width: 100vw;
    }
}

article#subBG div {
    margin: 1rem;
    /* background-image: url('dog.jpg'); */
}

.person-description {
    margin: 1rem;
    font-weight: 600;
}

main.sticky {
    position: sticky;
}

#CSSValidation {
    align-self: flex-end;
    margin-right: 1rem;
    /* background-image: url('dog.jpg'); */
}

.RA {
    text-align: right;
}

.CA {
    text-align: center;
    /* background-image: url('dog.jpg');  Funny teacher troll moment */
}


.largeImg {
    width: 20em;
}

@media (min-width: 600px) {
    .largeImg {
        width: auto;
    }
}
#rightImage {
    display:none;
}
@media (min-width: 840px) {
    #rightImage {
        display:inline;
        height: auto;
        background-image: url("eminenceagain_400p.webp");
        padding-left: 2em;
    }
}