
body {
background-image : url(../logo.png);
background-position : center;
background-size : contain;
background-repeat : no-repeat;
background-color : #212121;
display : flex;
flex-direction : column;
align-items : flex-end;
}
div {
border-style : solid;
border-color : white;
border-width : 0.25em;
padding : 2em;
}
.container {
display : grid;
}
.item_0 {
grid-column-end : 1;
grid-row-end : 1;
}
.item_1 {
grid-column-start : 1;
grid-column-end : 2;
grid-row-end : 1;
}
.item_2 {
grid-column-start : 2;
grid-column-end : 3;
grid-row-end : 1;
}
.item_3 {
grid-column-start : 3;
grid-column-end : 4;
grid-row-end : 1;
}
.item_4 {
grid-column-end : 1;
grid-row-start : 1;
grid-row-end : 2;
}
.item_5 {
grid-column-start : 1;
grid-column-end : 2;
grid-row-start : 1;
grid-row-end : 3;
}
.item_6 {
grid-column-start : 2;
grid-column-end : 4;
grid-row-start : 1;
grid-row-end : 2;
}
.item_7 {
grid-column-end : 1;
grid-row-start : 2;
grid-row-end : 3;
}
.item_8 {
grid-column-start : 2;
grid-column-end : 3;
grid-row-start : 2;
grid-row-end : 3;
}
.item_9 {
grid-column-start : 3;
grid-column-end : 4;
grid-row-start : 2;
grid-row-end : 3;
}
.item_10 {
grid-column-end : 1;
grid-row-start : 3;
grid-row-end : 4;
}
.item_11 {
grid-column-start : 1;
grid-column-end : 2;
grid-row-start : 3;
grid-row-end : 4;
}
.item_12 {
grid-column-start : 2;
grid-column-end : 4;
grid-row-start : 3;
grid-row-end : 5;
}
.item_13 {
grid-column-end : 1;
grid-row-start : 4;
grid-row-end : 5;
}
.item_14 {
grid-column-start : 1;
grid-column-end : 2;
grid-row-start : 4;
grid-row-end : 5;
}
