html {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    background-image: url(/sam.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-attachment: scroll;
}

h1 {
    font-weight: 1000;
}

p, table, tr, th, td, form, legend, label,  ol, li {
    font-weight: 600;
}

fieldset {
    border-radius: 0.7em;
}

strong {
    font-weight: 1000;
}


header {
    width: 100%;
    /* background-image: url('dog.jpg'); */
    position: sticky;
    top: 0;
}

nav#navbar, nav#navbar ul {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    background-attachment: scroll;
    list-style-type: none;
    /* background-image: url('dog.jpg'); */
}

#aboutBut {
    margin-left: auto;
}


.navBut {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border-style: solid;
    /* background-image: url('dog.jpg'); */
}

/* make theme button round */
button.navBut {
    border-radius: 2em;
}

@media (min-width: 600px) {
    .navBut {
        padding: 1rem;
        font-size: 1.5rem;
        /* background-image: url('dog.jpg'); */
    }
}



#pagesBut {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#genderChoice {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 25em;
}