body {
    /* background-image: url(/logo.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    background-attachment: scroll;
}

h1 {
    font-weight: 1000;
}

h1, p, table, tr, th, td, form, legend, label, ol, li {
    color: white;
}

p, table, tr, th, td, form, legend, label,  ol, li {
    font-weight: 600;
}

fieldset {
    border-radius: 0.7em;
}

strong {
    font-weight: 1000;
}

a {
    color: aqua;
}

a:hover {
    color: #212121;
}

a:active {
    color: white;
}


header {
    background-color: #24255a;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    background-attachment: scroll;
    position: sticky;
    top: 0;
}

#aboutBut {
    margin-left: auto;
}

.navBut {
    padding: 1rem;
    background-color: #050627;
    text-decoration: none;
    color: #55568A;
    font-size: 1.5rem;
    font-weight: 600;
    border-style: solid;
    border-color: #121340;
}

.navBut:hover {
    background-color: #55568A;
    color: #121340;
}

#pagesBut {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#genderChoice {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

form {
    margin-top: 50%;
}