.redText {
    color:red;
}
/* WTF?? FIRST TRY?? lmao */

/* 1 pour pc 1 pour tablette 1 pour tel */
/* inverse media query */
/* use property=og:... for branding */
/* comm: l'envie total respectueuse de vouloir transmettre l'information qu'on veut transmettre */
body {
    background-image: url("ds.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1, p, blockquote, label, legend, ol, li, form, table, td, tr, th {
    mix-blend-mode: difference;
    color: white;
}

a {
    color: aqua;
    text-decoration-line: none;
}

a:hover {
    color: #212121;
}

a:active {
    color: white;
}

em {
    color: gold;
}

#myDog {
    width: 15em;
    height: auto;
}

#alignleft {
    display: flex;
    flex-direction: column;
}

#borderParagraphIdk {
    border-style: solid;
    border-width: 0.5em;
    border-radius: 2em;  /* the thing that sucks I hate rounded squares PLEASE STOP I BEG YOU */
    padding: 1em;
    margin: 1em;
}

#test {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

fieldset {
    border-color: silver;
    border-radius: 5mm;
}

#formName {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 5mm;
    padding-right: 5mm;
}

.formNameRow {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#ytLink {
    margin-top: 5mm;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contentidk {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

table, tr, th, td {
    border-style: solid;
    border-radius: 1mm;
    border-width: 1mm;
    mix-blend-mode: difference;
    color: white;
    text-align: left;
}

.tableNum {
    text-align: right;
}

.tabCentered {
    text-align: center;
}

#following {
    display: flex;
    align-items: center;
}

#dbJoke {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yandevcpp {
    border-style: solid;
    border-width: 1mm;
    border-radius: 5mm;
    padding: 1mm;
}

