html {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

header {
    width: 100%;
    position: sticky;
    top: 0;
}


body {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-attachment: scroll; */
    margin: 0;


}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */

    max-width: min-content;
}

h1 {
    font-weight: 1000;
}

p {
    margin: 1rem;
    font-weight: 600;
    text-align: center;
}

strong {
    font-weight: 1000;
}

#whoAre {
    align-items: center;
    max-width: 120em;
}


/******************** link ********************/

/* a {
    color: rgb(0, 0, 0);
    
} */

/******************** nav bar ********************/
nav#navbar, nav#navbar ul {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    background-attachment: scroll;
    list-style-type: none;
}

#aboutBut {
    margin-left: auto;
}


.navBut {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border-style: solid;

}



@media (min-width: 600px) {
    .navBut {
        padding: 1rem;
        font-size: 1.5rem;
    }
}

/* make theme button round */
button.navBut {
    border-radius: 2em;
}


/* #pagesBut {
    display: flex;
    flex-direction: row;
} */


/******************** flex class ********************/

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flexAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/******************** picture ********************/
#imgintro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


/* #imageR {
    display: inline;
}
@media(min-width: 300px) {
    #imageR {
        display: none;
    }
} */

#imageR {
    display: none;
}
@media(min-width: 300px) {
    #imageR {
        display: inline;
    }
}
