html {
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/*********************************** the nav bar ******************************************************/

nav#navbar, nav#navbar ul {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    background-attachment: scroll;
    list-style-type: none;
}

#aboutBut {
    margin-left: auto;
}

.navBut {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border-style: solid;
}

@media (min-width: 600px) {
    .navBut {
        padding: 1rem;
        font-size: 1.5rem;
    }
}

.navBut:hover {
    background-color: #9999C2;
    color: #050627;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
}

/****************************************** end for the navbar ******************************************/

/************************************ flex class ***********************************/
.flexCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flexCenter {
    display: flex;
    justify-content: center;
    
}

.flexAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.flexBetween {      /* not used */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/**************************** end flex  class ****************************/

body {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    background-attachment: scroll;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: min-content;

}

@media (max-width: 600px) {
    main {
        max-width: 100vw;
        width: 100vw;
    }
}

/******************************** picture ********************************/

#img01{
    margin: 1em;
}

@media (min-width: 840px) {
#img02 {
    margin: 2em;
    padding-right: 15em;
    
    }
}

#img03 {            /* si possible faire en sorte que l'image apparaisse apres le summary */
    display: none;
}
@media (min-width: 840px) {
    #img03 {
        display: inline;
        margin: 2em;
    }
}

/******************************** text ********************************/

h1,h2 {
    font-weight: 1000;
}

h1, h2, p, table, label {
    text-align: center;
}

p {
    margin: 1rem;
    font-weight: 600;
    text-align: center;
}

/******************************** link ********************************/

a{
    text-align: center;
}

#linkMovies{
    /* margin: 1rem; */
    /* max-width: fit-content; */
    display: flex;
    justify-content: space-between;

}

.linkMovies {
    margin: 0em;
}

@media (min-width: 540px) {
    .linkMovies {
        margin: 1em;
    }
}