/**************************** nav bar ****************************/
nav#navbar, nav#navbar ul {
    background-color: #effceb;
}

.navBut {
    background-color: #effceb;
    border-color: #121340;

}

.navBut:hover {
    background-color: #9999c2;
    color: #050627;
}

/**************************** end nav bar ****************************/

body {
    background-color: #effceb;
    background-color: #92ddeb;
    background: linear-gradient(#effceb,#92ddeb);
}

main{
    /* background-color: #9cecee7f; */
    background-color: #1213407f; /* 7f for 50% opacity */
}

/**************************** Link colors ****************************/

/* a {
    color: aqua;
} */

a:hover {
    color: #050627;
}

/* a:active {
    color: white;
} */

/******************************** picture ********************************/